<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

<!--     <button angular4-paystack [key]="'pk_test_beaf8a50a1e76261f013e0201f1fa63e8b67d353'"
      [email]="'mailexample@mail.com'" [amount]="5000000" [ref]="reference" [class]="'btn btn-primary'"
      (paymentInit)="paymentInit()" (onClose)="paymentCancel()" (callback)="paymentDone($event)">
      Pay with Paystack
    </button> -->

    <button
    angular4-paystack
    [paystackOptions]="options"
    (paymentInit)="paymentInit()"
    (onClose)="paymentCancel()"
    (callback)="paymentDone($event)"
  >
    Pay with Paystack
  </button>
  </div>
</ion-content>